* {
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: url("./assets//cursor.png") 0 0, auto
}

.headder{
    background-color: #01413E;
    padding: 18px;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}


.display {
    display: flex;
    &>.navbar {
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            cursor: url(./assets/pointer.png);
            height: 100vh;
            background: linear-gradient(to bottom, #01413E, #01413E);
            padding-inline: 8px;
            margin-right: 8px;
            padding-top: 10px;
            border-radius: 8px;
            @media screen and (max-width: 600px) {
                display: none;
              }
        &>.link {
            color: black;
            text-decoration: none;
            padding: 5px;
            font-size: large;
            border-radius: 8px;
            align-items: center;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            transition: background-color 0.5s ease;
            &:hover {
                background-color: rgba($color: white, $alpha: .2);
                color: white;
            }
        }
    }
}

.path{
    padding: 0 20px 0 10px;
}

.pages {
    background: linear-gradient(to bottom, #01413E, #01413E);
    border-radius: 8px;
    width: 100%;
    padding: 18px;
    height: 100vh;
    cursor: url('./assets/cursor.png') 16 16;
}


h1 {
    letter-spacing: 2px;
    word-spacing: 5px;
    font-family: Cursive, Arial, sans-serif;
    font-weight: bold;
}

div {
    letter-spacing: 2px;
    word-spacing: 5px;
    font-family: Cursive, Arial, sans-serif;
    font-weight: bold;
}

.main-back{
    position: absolute;
    top: 45px;
    left: 15px;
    padding: 5px;
    transform: 4s ease;
    cursor: url("./assets/pointer.png") 0 0, auto;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    &:hover{
        background-color: white;
    }
}
