h4{
    color: white;
    background-color: rgba(255, 255, 255, 0.263);
    display: flex;
    backdrop-filter: blur(10px);
    width: fit-content;
    word-spacing: normal;
    padding: 2px 10px;
    top: 300px;
    left: auto;
    border-radius: 8px;
    box-shadow: 0 0 red inline infinite;
    transition: all 0.5s ease;
    &:hover{
        cursor: url(../../assets/pointer.png) 0 0, auto;
        >span{
            cursor: url(../../assets/pointer.png) 0 0, auto;
            text-decoration: underline;
            
        }
            
    }
    &>img{
        margin-right: 5px;
    }
}

.portfolio{
    color: white;
}