.portfolio-image{
    height: 50vh;
    overflow: hidden;
    border-radius: 8px;
}

.div-lang{
    display: flex;
    flex-direction: row;
    background-color: #894ccf6d;
    border-radius: 8px;
    margin: 10px;
    padding: 3px;
    text-align: center;
    justify-content: center;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.02); // Scales up the div by 10% on hover
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3)
    }
}

.div-content > h2{
    text-align: center;
    color: white;
}

.lang {
    width: 50vw;
    color: white;
    border-radius: 5px;
    transition: transform 0.2s ease;
    &:hover {
        cursor: default;
        transform: scale(2); // Scales up the div by 10% on hover
    }
}

